/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');

@font-face {
  font-family: "Slim Joe";
  src: font-url("Slim_Joe.otf") format("truetype");
}

@font-face {
  font-family: "Big John";
  src: font-url("Big_John.otf") format("truetype");
}

$background-color: #1F2421;
$primary-color: #3BC14A;
$training-color: #F8CB4D;


html, body {
    height: 100%;
    font-family: "Josefin Sans";
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing-background {
    background-color: $background-color;
    color: white;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    margin-top: auto;
    margin-bottom: auto;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-color: $background-color;
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

$main-header-height: 100px;
$main-title-height: 200px;
$form_element_width: 400px;
$form_element_height: 60px;
$main-background-height: 600px;
$small-header-hight: 100px;

.main-header {
  height: $main-header-height;
  width: 100%;
  background-color: $background-color;
}

.main-title {
  height: $main-title-height;
  vertical-align: middle;
  line-height: $main-title-height;
  font-size: 50px;
  text-align: center;
  font-family: "Slim Joe";
  color: white;
}

.training-title {
  height: $main-title-height;
  vertical-align: middle;
  line-height: $main-title-height/2;
  font-size: 50px;
  text-align: center;
  font-family: "Slim Joe";
  color: white;
}



.index-title {
  font-family: "Big John";
  color: $primary-color;
}

.sport-title {
  height: $small-header-hight/2;
  line-height: $small-header-hight/2;
  font-family: "Josefin Sans";
  color: white;
  font-size: x-large;
}

.laps-title {
  font-family: "Josefin Sans";
  color: $training-color;
  height: $small-header-hight;
  line-height: $small-header-hight;
  font-size: x-large;
}

.small-title {
  height: $small-header-hight;
  line-height: $small-header-hight;
  font-family: "Slim Joe";
  color: gray;
  background-color: white;
  font-size: xx-large;
}

.training_container {
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $training-color;
}

.training_info {
  height: 200px;
}

.main-container {
  margin: auto;
  align-content: center;
  width: $form_element_width;
}

.main-logo {
  margin: $main-header-height/4;
  height: $main-header-height/2;
}

.main-background {
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; 
  left: 0px;
  right: 0px;
  height:$main-background-height;
}

.new-activity-background {
  background-image: image-url('new_activity.jpg');
}

.index-background {
    background-position: center center; 
  background-image: image-url('index.jpg');
}


.landing-logo {
    max-width: 80%;
    margin-bottom: 20px;
}

.btn {
    border-radius: 300px;
    font-size: 30px;
}

.btn-margin {
      margin-top: 100px;
}

.btn-submit {
  color: $primary-color;
  background-color: white;
  border-color: gray;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

  &:hover {
        background-color: $background-color;
        color: $primary-color;
  }
}

::-webkit-input-placeholder {
  color: lightgray;
}

.btn-primary {
  color: white;
  background-color: $background-color;
  border-color: $primary-color;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;

  &:hover {
        color: white;
        background-color: $primary-color;
  }
}

.btn-xl {
  padding: 15px 30px;
}

.btn-index-main {
  background-color: $primary-color;
  color: white;
}

.btn-training {
  color: white;
  background-color: $training-color;
}

.main-curved {
    border-radius: 300px;
    font-size: 30px;
    background:transparent;
    width: $form_element_width;
    height: $form_element_height;
    border: 1px solid;
    border-color: lightgray;
    color: lightgray;
}


.main-file-upload {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.main-button-file-upload {
    z-index: -1;
    display: inline-block;
    width: $form_element_width;
    height: $form_element_height;
    text-align: left;
}

.file-input-wrapper {
    margin-top: 30px;
    width: $form_element_width;
    height: $form_element_height;
    overflow: hidden;
    position: relative;
}

.centered_div {
  margin: 0 auto; text-align: center;
}
