<div class="main-header">
  <%= image_tag("unnamed.png", class: "main-logo")%>
</div>

<div class="new-activity-background">
  <%- model_class = Activity -%>
  <div class="main-title">
    <%=t '.title', default: "Add new training", model: model_class.model_name.human.titleize %>
  </div>
  <div class="main-container">

      <%= render partial: 'form' %>

  </div>
</div>